body {
    background-color: antiquewhite;
    background-color: blue;
}

button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}